/* 1. PALCO E ALINHAMENTO DA PÁGINA */
body {
  background-color: #121214;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* 2. NOVO (Aula 004): PAINEL DO FORMULÁRIO INICIAL */
#painel-inicial {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #202024;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid #41414d;
}

/* Estilização da caixa de entrada de texto */
#input-nome {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #7c7c8a;
  background-color: #121214;
  color: #ffffff;
  font-size: 0.9rem;
}

/* Efeito visual ao clicar na caixa de texto (Foco) */
#input-nome:focus {
  border-color: #fba94c;
  outline: none;
}

/* Estilização do botão de confirmar nome */
#btn-iniciar {
  background-color: #8257e5;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

#btn-iniciar:hover {
  background-color: #996dff;
}

/* 3. HUD (PLACAR DE STATUS E BOTÕES) */
#hud {
  margin-bottom: 15px;
  font-size: 1.1rem;
  display: flex;
  gap: 15px;
  align-items: center;
}

/* Moldura externa da Barra de Vida */
#barra-container {
  width: 180px;
  height: 20px;
  background-color: #41414d;
  border-radius: 10px;
  overflow: hidden; /* Esconde o preenchimento que passa dos cantos arredondados */
  border: 2px solid #7c7c8a;
}

/* Preenchimento interno animado */
#barra-vida {
  width: 100%;
  height: 100%;
  background-color: #04d361;
  transition: width 0.3s ease, background-color 0.3s ease;
}

/* Botão de Cura */
#btn-curar {
  background-color: #04d361;
  color: #000000;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#btn-curar:hover {
  background-color: #00b352;
}

#btn-curar:disabled {
  background-color: #41414d;
  color: #7c7c8a;
  cursor: not-allowed;
}

/* 4. ARENA DO JOGO */
#arena {
  width: 600px;
  height: 300px;
  background-color: #202024;
  border: 2px solid #41414d;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

/* 5. HERÓI (A BOLA SUICIDA) */
#heroi {
  width: 40px;
  height: 40px;
  background-color: #8257e5;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  bottom: 20px;
  cursor: pointer;
  transition: bottom 0.1s;
}